.main_window {
    -fx-font-family: 'Helvetica';
    -fx-background-color: #f2cfa3;
}

.title {
    -fx-font-size: 25px;
}

#addButton {
    -fx-background-color: #ffa07a;
}

TextField {
    -fx-background-color: #ffe4c4;
}

