.main_window {
    -fx-font-family: 'Georgia';
    -fx-background-color: #e5f2da;
}


#addButton, #addPersonButton, #choicebox, #PDFButton {
    -fx-background-color: #166b46;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

TextField {
    -fx-background-color: #69ba73;

}

#userLabel {
    -fx-text-fill: white;

}