.main_window {
    -fx-font-family: 'Georgia';
    -fx-background-color: #eceadf;
}

.title {
    -fx-font-size: 35px;
}

#addButton, #addPersonButton, #choicebox, #PDFButton {
    -fx-background-color: #424a54;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

TextField {
    -fx-background-color: #e37262;
}


